<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{info_customer.title}"></title>
</head>
<body>
Language: <a href="?lang=en">English</a> | <a href="?lang=vn">Vietnamese</a>
<form action="/customers" method="post">
  <fieldset>
    <legend th:text="#{info_customer.table}"></legend>
    <input type="hidden" name="id" th:value="${customer.id}">
    <table>
      <tr>
        <td th:text="#{customer.id}">Id</td>
        <td th:text="${customer.id}"></td>
      </tr>
      <tr>
        <td th:text="#{customer.name}">Name</td>
        <td>
          <input type="text" name="name" th:value="${customer.name}">
        </td>
      </tr>
      <tr>
        <td th:text="#{customer.email}"></td>
        <td>
          <input type="text" name="email" th:value="${customer.email}">
        </td>
      </tr>
      <tr>
        <td th:text="#{customer.address}"></td>
        <td>
          <input type="text" name="address" th:value="${customer.address}">
        </td>
      </tr>
      <tr>
        <td th:text="#{customer.province}"></td>
        <td>
          <select name="province">
            <option th:each="p : ${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" th:value="#{info_customer.update}">
        </td>
      </tr>
    </table>
  </fieldset>
</form>
<a href="/customers" th:text="#{info_customer.back}"></a>
</body>
</html>